name: unit tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Test
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go get -u golang.org/x/lint/golint
          make test-coverage

      - name: Upload test coverage report
        uses: actions/upload-artifact@v6
        with:
          name: test_coverage_report
          path: coverage.html
